body {
  margin: 5%;
  width: 400px;
}

#map-canvas { 
  height: 200px;
  width: 375px;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 400px;
}

.food {
  float: left;
  width: 49%;
  text-align: center;
  border-color: #2C3E50;
  border-style: solid;
  border-width: 5%;
    margin: 5%;
}

.beer {
  float: right;
  width: 49%;
  text-align: center;
  border-color: #2C3E50;
  border-style: solid;
  border-width: 5%;
    margin: 5%;
}

#restaurantIcon {
  width: 50%px;
  height: 50px;
}

#barIcon {
  width: 50%px;
  height: 50px;
}
