body {
  margin: 1%;
  width: 400px;
}

#map-canvas { 
  height: 200px;
  width: 375px;
  margin: 0px;
  padding: 0px;
}

.container {
  width: 400px;
}

.well {
  height: 500px;
  width: auto;

}

#address {
  float: left;
  width: 66%;
}

#searchbtn {
  float: right;
  width: 33%;
}

.food {
  background-color: #F5AD4E;
  float: left;
  width: 40%;
  padding: 4px;
  text-align: center;
  border-color: #2C3E50;
  border-style: solid;
  border-width: 1%;
    margin: 5%;
}

.drink {
  background-color: #F5AD4E;
  float: right;
  width: 40%;
  padding: 4px;
  text-align: center;
  border-color: #2C3E50;
  border-style: solid;
  border-width: 1%;
    margin: 5%;
}

#restaurantIcon {
  width: 50%px;
  height: 50px;
}

#barIcon {
  width: 50%px;
  height: 50px;
}
