body {
  margin: 1%;
  width: 400px;
}

.container {
  width: 400px;
}

.well {
  height: 600px;
  width: auto;
}

.food {
  float: left;
  width: 40%;
  padding: 4px;
  text-align: center;
    margin: 5%;
}

.drink {
  float: right;
  width: 40%;
  padding: 4px;
  text-align: center;
    margin: 5%;
}


#map-canvas { 
  height: 275px;
  width: 375px;
  margin: 0px;
  padding: 0px;
}

#address {
  float: left;
  width: 66%;
}

#searchbtn {
  float: right;
  width: 33%;
}

#restaurantIcon {
  width: 50px;
  height: 50px;
}

#barIcon {
  width: 50px;
  height: 50px;
}
