<script type="text/javascript" src="js/lib/fancyjq.js"></script>

<div class="buttons">
    <div type= "button" class="food btn active">
        <img src="images/buttons/Bread-Icon.jpg" id="restaurantIcon" alt="Restaurant" title="Restaurant"/>
        <h4>Feed Me</h4>
        <div class="link" id="closestRest">
        </div>
    </div>
      
    <div type="button" class="drink btn active">
        <img src="images/buttons/Beer-Icon.jpg" id="barIcon" alt="Bar" title="Bar"/>
        <h4>Beer Me</h4>
        <div class="link" id="closestBar">
        </div>
    </div>
</div>


