
<div class="icon">
    <img src="images/buttons/Bread-Icon.jpg" id="restaurantIcon" alt="Restaurant" title="Restaurant"/>
    <div class="link" id="closestRest">
        <a href="#">Closest Restaurant</a>
    </div>
    <div class="link" id="bestRest">
        <a href="#">Best Restaurant</a>
    </div>
    <div class="mapOne">
    {{!-- <iframe
      width="250"
      height="225"
      src="https://www.google.com/maps?q=portland+oregon&amp;output=embed">
    </iframe> --}}
    </div>  
</div>
  
<div class="icon">
    <img src="images/buttons/Beer-Icon.jpg" id="barIcon" alt="Bar" title="Bar"/>
    <div class="link" id="closestBar">
        <a href="#">Closest Bar</a>
    </div>
    <div class="link" id="bestBar">
        <a href="#">Best Bar</a>
    </div>
    {{!-- <div class="mapTwo">
        <iframe
          width="250"
          height="225"
          src="https://www.google.com/maps?q=portland+oregon&amp;output=embed">
        </iframe>
    </div> --}}
</div>


<h3>Yelp Data</h3>

</br>
<table class="table table-striped">
    <thead>
        <tr><th>Bussiness</th><th>Rating</th><th>Address</th></tr>
    </thead>
    <tbody>

    <tr>
        <td><b>{{businesses.0.name}}:</b></td>
        <td>{{businesses.0.rating}}</td>
        <td>{{businesses.0.location.address}}</td>
    </tr>

    </tbody>
</table>
