<div id="panel">
        <input id="address" type="text" class="form-control col-lg-8" value="Portland, OR">
        <input type="button" value="Find" class="geocode btn btn-success">
      </div>
<div id="map-canvas"></div>