<script type="text/javascript" src="js/lib/fancyjq.js"></script>

<input id="address" type="text" class="form-control col-lg-8" value="Portland, OR">
<input id="searchbtn" type="button" value="Find" class="geocode btn btn-success">
    <br>
    <br>
    <br>
<div id="map-canvas"></div>

<div class="buttons">
    <div class="food-container">
        <div class="food">
            <h4>Feed Me</h4>
            <button class="btn btn-success" id="food">
                <img src="images/buttons/Bread-Icon.jpg" id="restaurantIcon" alt="Restaurant" title="Restaurant"/>
            </button>
            </br>
        </div>
    </div>

    <div class="drink-container">
        <div class="drink">
            <h4>Beer Me</h4>
            <button class="btn btn-success" id="drink">
                <img src="images/buttons/Beer-icon.jpg" id="barIcon" alt="Bar" title="Bar"/>
            </button>
            </br>
        </div>
    </div>
</div>