<h3>Yelp Data</h3>
</br>
<table class="table table-striped">
    <thead>
        <tr><th>Bussinesses</th><th>Data</th><th>Address</th></tr>
    </thead>
    <tbody>
{{#each businesses}}
    <tr>
        <td><b>{{name}}:</b></td>
        <td>{{rating}}</td>
        <td>{{location.address}}</td>
    </tr>
{{/each}} 
    </tbody>
</table>
