<script type="text/javascript" src="js/lib/fancyjq.js"></script>

<div class="buttons">
    <div class="food-container">
        <div class="food">
            <h4>Feed Me</h4>
            <img src="images/buttons/Bread-Icon.jpg" id="restaurantIcon" alt="Restaurant" title="Restaurant"/>
            </br>
            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="{{businesses0.attributes.tweetstring}}" data-lang="en" data-count="none">Tweet</a>
            <p>{{businesses0.attributes.tweetstring}}</p>
        </div>
    </div>
      
    <div class="drink-container">
        <div class="drink">
            <h4>Beer Me</h4>
            <img src="images/buttons/Beer-icon.jpg" id="barIcon" alt="Bar" title="Bar"/>
            </br>
            <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="{{businesses1.attributes.tweetstring}}" data-lang="en" data-count="none">Tweet</a>
            <p>{{businesses1.attributes.tweetstring}}</p>
        </div>
    </div>
</div>
