<div>
{{!--  might have to put expr: in front of the data element for the text. --}}
   <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{businesses0.attributes.tweetstring}}" data-lang="en">Tweet</a>
   <p>{{businesses0.attributes.tweetstring}}</p>
    
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{businesses1.attributes.tweetstring}}" data-lang="en">Tweet</a>
    <p>{{businesses1.attributes.tweetstring}}</p>
</div>