<div class="twitter">
    <div class="tweet-food">
        <a href="https://twitter.com/intent/tweet?button_hashtag=feedme" class="twitter-hashtag-button" data-size="large" data-text="{{businesses0.attributes.tweetstring}}" data-count="none" data-lang="en">Tweet</a>
        <p>{{businesses0.attributes.name}}</p>
    </div>
    <div class="tweet-drink">
        <a href="https://twitter.com/intent/tweet?button_hashtag=beerme" class="twitter-hashtag-button" data-size="large" data-text="{{businesses1.attributes.tweetstring}}" data-count="none" data-lang="en" >Tweet</a>
        <p>{{businesses1.attributes.name}}</p>
    </div>
</div>
